.nav {
  position: fixed;
  z-index: 999;
  width: 100%;
  background: #3f51b5;
  display: flex;
  height: 70px;
  top: 0; }
  .nav__left {
    max-width: 240px;
    display: flex;
    justify-content: center;
    align-items: center; }
    .nav__left a {
      display: flex;
      align-items: center;
      text-decoration: none;
      color: #fff; }
    .nav__left img {
      margin-right: 10px;
      width: 50px;
      height: 50px; }
    .nav__left span {
      font-size: 20px;
      text-transform: uppercase;
      font-weight: 700;
      display: block; }
  .nav__right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; }
    .nav__right__menu {
      display: flex;
      align-items: center; }
      .nav__right__menu img {
        margin: 0 20px;
        cursor: pointer; }
      .nav__right__menu .search-input {
        position: relative; }
        .nav__right__menu .search-input > input {
          border: 1px solid rgba(255, 255, 255, 0.1);
          background: rgba(255, 255, 255, 0.1);
          color: #fff;
          padding: 6px 18px; }
        .nav__right__menu .search-input img {
          position: absolute;
          right: 5px;
          top: 50%;
          transform: translateY(-50%);
          margin-right: 0; }
    .nav__right__list ul {
      display: flex;
      align-items: center;
      margin: 0;
      padding: 0;
      height: 100%; }
      .nav__right__list ul li {
        position: relative;
        display: inline-block;
        padding: 0 12px;
        line-height: 70px; }
        .nav__right__list ul li a {
          display: block; }
          .nav__right__list ul li a img {
            overflow: hidden;
            vertical-align: middle; }
    .nav__right__list .img-circle {
      height: 36px;
      width: 36px;
      border-radius: 50%; }

.sidenav__hide .nav__left {
  max-width: 10px;
  display: none; }
  .sidenav__hide .nav__left span {
    display: none; }

.sidenav {
  position: fixed;
  overflow: auto;
  left: 0;
  top: 70px;
  width: 240px;
  height: 100%;
  background: #fff; }
  .sidenav.sidenav__hide {
    width: 100px; }
    .sidenav.sidenav__hide .sidenav__list span {
      display: none; }
  .sidenav__list {
    padding: 0;
    margin-top: -20px; }
    .sidenav__list li {
      display: block;
      border-left: 3px solid transparent; }
      .sidenav__list li a {
        display: flex;
        align-items: center;
        padding: 12px 20px;
        text-decoration: none;
        color: rgba(58, 45, 45, 0.986);
        line-height: 5px; }
        .sidenav__list li a img {
          margin-right: 10px; }
        .sidenav__list li a :after {
          content: ">";
          position: absolute;
          right: 20px; }
      .sidenav__list li.active {
        background: #f5f5f5;
        border-left: 3px solid blue; }
  .sidenav__title {
    padding: 0 20px;
    color: rgba(58, 45, 45, 0.986); }

* {
  font-family: sans-serif; }

body {
  margin: 0;
  background: lightgray; }

*, *::before, *::after {
  box-sizing: border-box; }

.container {
  margin-left: 247px;
  margin-top: 80px;
  margin-right: 7px;
  display: flex;
  flex-wrap: wrap; }
  .container.sidenav__hide {
    margin-left: 107px; }

.minton-block {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%; }
  .minton-block ul {
    list-style: none;
    margin-right: 20px; }
    .minton-block ul li {
      display: inline-block; }
      .minton-block ul li:after {
        content: " / "; }
      .minton-block ul li:last-child:after {
        content: ""; }
  .minton-block__welcome {
    margin-left: 20px; }

.stats__block {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0; }

.stats__visits {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex: 1;
  background-color: #ffffff;
  min-width: 180px;
  height: 100px;
  margin: 7px;
  position: relative; }
  .stats__visits img {
    border-radius: 100px;
    width: 70px;
    display: inline-block; }
  .stats__visits h1 {
    color: rgba(58, 45, 45, 0.986);
    display: inline-block;
    margin: 0; }
  .stats__visits p {
    color: rgba(58, 45, 45, 0.986);
    margin: 0; }

.second-block {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  width: 100%; }
  .second-block__frst {
    background: #ffffff;
    width: 100%;
    height: 300px;
    margin: 7px; }
    .second-block__frst p {
      text-transform: uppercase;
      color: rgba(58, 45, 45, 0.986);
      font-size: 12px;
      position: absolute;
      margin-left: 10px;
      font-weight: 900; }

.third-block {
  display: flex;
  width: 100%; }
  .third-block__bigger {
    background: #ffffff;
    width: 65.5%;
    height: 400px;
    margin: 7px; }
    .third-block__bigger h4, .third-block__bigger p {
      color: rgba(58, 45, 45, 0.986);
      margin: 10px 0px 0px 10px; }
    .third-block__bigger table {
      margin: 20px 10px;
      font-size: 12px;
      border-collapse: collapse;
      width: 95%;
      height: 300px;
      text-align: left; }
      .third-block__bigger table tr {
        margin: 0px;
        margin-left: 20px;
        text-align: left; }
        .third-block__bigger table tr th {
          padding: 10px;
          border-bottom: 1px solid #9a9595;
          text-align: left; }
        .third-block__bigger table tr td {
          padding: 10px; }

.third-block__smaller {
  display: flex;
  flex-direction: column;
  width: 32.5%; }
  .third-block__smaller__first {
    display: flex;
    align-items: center;
    height: 130px;
    width: 100%;
    background: #ffffff;
    margin: 7px; }
    .third-block__smaller__first img {
      width: 70px;
      height: 70px;
      border-radius: 50px;
      margin-left: 10px; }
    .third-block__smaller__first #text-block {
      display: flex;
      flex-direction: column;
      margin-left: 15px; }
      .third-block__smaller__first #text-block h3 {
        margin: 0;
        font-weight: 700;
        font-size: 1rem; }
      .third-block__smaller__first #text-block p {
        margin: 5px 0; }
      .third-block__smaller__first #text-block span {
        margin: 0;
        font-weight: 500;
        color: yellow; }
      .third-block__smaller__first #text-block #color-green {
        color: green; }
      .third-block__smaller__first #text-block #color-red {
        color: red; }

@media (max-width: 768px) {
  .stats__visits {
    width: 100%;
    font-size: 0.7rem; }
    .stats__visits h1 {
      font-size: 1rem; }
    .stats__visits img {
      width: 30px;
      height: 30px; } }

