<nav data-sidenav class="sidenav sidenav__hide">
        <div class="sidenav-divider">
            <h5 class="sidenav__title">Main</h5>
            <ul class="sidenav__list">
                <li class="active">
                    <a href="dashboard.html"><img src="assets/images/search-24px.svg"
                            alt="Dashboard"><span>Dashboard</span></a>
                </li>
                <li>
                    <a href="profile.html"><img src="assets/images/all_inclusive-24px.svg"
                            alt="Dashboard"><span>Dashboard</span></a>
                </li>
                <li>
                    <a href="dashboard.html"><img src="assets/images/ballot-24px.svg"
                            alt="Dashboard"><span>Dashboard</span></a>
                </li>
                <li>
                    <a href="profile.html"><img src="assets/images/bar_chart-24px.svg"
                            alt="Dashboard"><span>Dashboard</span></a>
                </li>
                <li>
                    <a href="dashboard.html"><img src="assets/images/build-24px.svg"
                            alt="Dashboard"><span>Dashboard</span></a>
                </li>
                <li>
                    <a href="profile.html"><img src="assets/images/card_giftcard-24px.svg"
                            alt="Dashboard"><span>Dashboard</span></a>
                </li>
            </ul>
        </div>
        <div class="sidenav-divider">
            <h5 class="sidenav__title">More</h5>
            <ul class="sidenav__list">
                <li class="active">
                    <a href="dashboard.html"><img src="assets/images/search-24px.svg"
                            alt="Dashboard"><span>Dashboard</span></a>
                </li>
                <li>
                    <a href="profile.html"><img src="assets/images/all_inclusive-24px.svg"
                            alt="Dashboard"><span>Dashboard</span></a>
                </li>
                <li>
                    <a href="dashboard.html"><img src="assets/images/ballot-24px.svg"
                            alt="Dashboard"><span>Dashboard</span></a>
                </li>
                <li>
                    <a href="profile.html"><img src="assets/images/bar_chart-24px.svg"
                            alt="Dashboard"><span>Dashboard</span></a>
                </li>
            </ul>
        </div>
        <div class="sidenav-divider">
            <h5 class="sidenav__title">Extras</h5>
            <ul class="sidenav__list">
                <li class="active">
                    <a href="profile.html"><img src="assets/images/search-24px.svg"
                            alt="Dashboard"><span>Profile</span></a>
                </li>
                <li>
                    <a href="profile.html"><img src="assets/images/all_inclusive-24px.svg"
                            alt="Dashboard"><span>Dashboard</span></a>
                </li>
                <li>
                    <a href="dashboard.html"><img src="assets/images/ballot-24px.svg"
                            alt="Dashboard"><span>Dashboard</span></a>
                </li>
            </ul>
        </div>
        
    </nav>