@import 'variables.scss';
@import 'nav.scss';
@import 'sidenav.scss';
@import '../../../node_modules/bootstrap/scss/bootstrap.scss';

* { 
    font-family: sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background: lightgray;
}
*, *::before, *::after {
    box-sizing: border-box;
}



.bg-block {
    margin-left: 247px;
    margin-top: 80px;
    margin-right: 7px;
    display: flex;  
    flex-wrap: wrap;
    &.sidenav__hide {
        margin-left: 107px;
    }
}

.minton-block {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    ul {
        list-style: none;
        margin-right: 20px;
    li {
        display: inline-block;
        &:after {
            content: " / "
        }
        &:last-child:after {
            content: ""
        }
    }
    }
  &__welcome {
      margin-left: 20px;
  }  
}
  
.stats__block {
    box-sizing: border-box;
    display: flex;
    align-items: center; 
    justify-content: space-around;
    flex-wrap: wrap; 
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
}  
.stats__visits {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex: 1;
    background-color: $block__bg;
    min-width: 180px;
    height: 100px;
    margin: 7px;
    img {
        border-radius: 100px;
        width: 70px;
        display: inline-block;
    }
    h1 {
        color: $text__color;
        display: inline-block;
        margin: 0;
    }
    p {
        color: $text__color;
        margin: 0;
    }
}

.second-block {
    display: flex;
    align-items: center; 
    justify-content: space-around; 
    position: relative;
    width: 100%;
    &__frst {
        background: $block__bg;
        width: 100%;
        height: 300px;
        margin: 7px;
        flex: 1;
        p {
            text-transform: uppercase;
            color: $text__color;
            font-size: 12px;
            position: absolute;
            margin-left: 10px;
            font-weight: 900;
        }
 }
}

.third-block {
 display: flex;
 width: 100%;
 
  &__bigger {
      background: $block__bg;
      width: 65.5%;
      height: 400px;
      margin: 7px;
      overflow-x: scroll;
      h4, p{
        color: $text__color;
        margin: 10px 0px 0px 10px;
      }
      table {
          margin: 20px 10px;
          font-size: 12px;
          border-collapse: collapse;
          width: 95%;
          height: 300px;
          text-align: left;
          
         tr {
             margin: 0px;
             margin-left: 20px;
             text-align: left;
             th {
                 padding: 10px;
                 border-bottom: 1px solid #9a9595;
                 text-align: left;
             }
             td {
                 padding: 10px;
                          
             }
         }
      }
  }

}

.third-block__smaller {
    display: flex;
    flex-direction: column;
    width: 32.5%;
    &__first {
        display: flex;
        align-items: center;
        height: 130px;
        width: 100%;
        background: $block__bg;
        margin: 7px;
        img {
            width: 70px;
            height: 70px;
            border-radius: 50px;
            margin-left: 10px;
        }
        #text-block{
            display: flex;
            flex-direction: column;
            margin-left: 15px;
            h3 {
                margin: 0;
                font-weight: 700;
                font-size: 1rem;
            }
            p {
                margin: 5px 0;
            }
            span {
                margin: 0;
                font-weight: 500;
                color: yellow;
            }
            #color-green {
                color: green;
            }
            #color-red {
                color: red;
            }
        }
    }
}





@media (max-width: 768px) {
  .stats__visits {
      width: 100%;
      font-size: 0.7rem;
      h1 {
          font-size: 1rem;
      }
      img {
        width: 30px;
        height: 30px;
      }
  }
  
  .second-block {
    width: 100%;
    height: 300px;
    flex-direction: column;
     &__frst {
         width: 100%;
         p{
            font-size: 12px;
        } 
     } 
  }
  .third-block__smaller__first{
    width: 100%;
    align-items: center;
     img {
         width: 40px;
         height: 40px;
     }
     #text-block {
         font-size: 12px;
     }
 }
}

